<!doctype html>
<html lang=pl>
<head>
    <%- include part_head.ejs %>

    <link rel="stylesheet" href="/stylesheets/restaurant-details/rest-info.css">
    <title>Document</title>
</head>
<body>
<%- include('part_topNav', {authenticated: authenticated, userName: userName}) %>

<section id="main-content">
    <nav class="side-nav" style="margin-left: <%= navSize %>%">
        <div class="nav-container">
            <div class="container-head">
                <h3>Kategorie dań</h3>
            </div>
            <ul class="container-body">
                <% let i = 1 %>
                <% for(category of food) { %>
                    <li class="container-elem">
                        <a href="/restaurants/details/<%= restId %>/menu?nav=0#<%= i++; %>"><%= category.Kategoria %></a>
                    </li>
                <% } %>
                <% if(authenticated) {%>
                    <li>
                        <%if(isFavourite) {%>
                        <button class="favourite-button in-favourites">Usuń z ulubionych</button>
                        <% } else {%>
                        <button class="favourite-button">Dodaj do ulubionych</button>
                        <% } %>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <article class="restaurant-details" style="margin-left: <%= parseInt(navSize, 10) + 25 %>%">
        <ul class="nav-menu">
            <li><a href="#">Menu</a></li>
            <li><a href="#">Opinie</a></li>
            <li class="selected"><a href="#">Informacje</a></li>
            <li class="back"><a href="/restaurants/<%= restInfo.adres %>">Powrót</a></li>
        </ul>
        <section id="rest-info">
            <div class="info" style="flex-basis: <%= parseInt(navSize, 10) + 75%>%">
                <div class="detail-container">
                    <div class="img"></div>
                    <ul>
                        <li><span>Nazwa</span>: <%= restInfo.nazwa %></li>
                        <li><span>Miasto</span>: <%= restInfo.miasto %></li>
                        <li><span>Adres</span>: <%= restInfo.adres %> <%= restInfo.nrDomu %></li>
                        <li><span>Kontakt</span>: <%= restInfo.kontakt %></li>
                    </ul>
                    <p class="description"><%= restInfo.opis %></p>
                </div>
            </div>
<!--            <div id="map" style="flex-basis: <%# navSize === '-25' ? 50 : 100 %>%"></div>-->
            <iframe id="map" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=<%= restInfo.adres %>+<%= restInfo.nrDomu %>>+<%= restInfo.miasto %>%&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" style="flex-basis: <%= navSize === '-25' ? 50 : 100 %>%" allowfullscreen></iframe>
        </section>
    </article>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/scripts/jquery.typeahead.min.js"></script>
<script type="module" src="/javascripts/restaurant-details/main.js"></script>
</body>
</html>